{% extends 'base.html.twig' %}

{% block subtitle %}Dodawanie kategorii{% endblock %}

{% block page_title %}
    Kategorie
{% endblock %}

{% block page_subtitle %}
    Dodawanie kategorii
{% endblock %}

{% block page_content %}
    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">Powrót do listy</a>
{% endblock %}
