{% extends 'base.html.twig' %}

{% block subtitle %}Dodawanie przychodu{% endblock %}

{% block page_title %}
    Przychody
{% endblock %}

{% block page_subtitle %}
    Dodawanie przychodu
{% endblock %}

{% block page_content %}

    {{ include('income/_form.html.twig') }}

    <a href="{{ path('income_index') }}">Powrót do listy</a>
{% endblock %}
